*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*peguei a dica da net, é para ajudar a font, 
assim ela não fica bugada - tirei esse treco, não muda nada*/

@media (max-width:992px){
    .menu{
        grid-template-columns: 1f;
    }

}
    
@media(max-width:1024px){
.nav menu ul li a,h1{

    width: 89px;
    font-size: 90px;
    
}

}

body{
   
    background-color: #161616;

}
.main{
    padding-top: 100px;
}
.texto{
    color: #f0f0f0;
    padding: 40px;
    position: relative;
    z-index: 2;
}

.terra{
    position: relative;
    background-image: url('imagem/ondasBaixas.svg'),
    url('imagem/textura_terra.png');
    background-repeat: repeat-x,repeat;
    background-position: top left, top left;
    background-size: 1000px, 128px;
    background-color: rgba(0, 0, 0, 0.7);
    image-rendering: pixelated;
    background-blend-mode: normal, multiply;
    width: 100%;
    padding: 140px 10% 80px 10%;
}

.pedra{
  background-image: url('imagem/pedraTextura.png');
  image-rendering: pixelated;
  background-repeat: repeat;
  background-size: 128px;
  width: 100%;
  position: relative;
  padding: 80px 10%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
.cont-minerios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 30px;
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px 0 60px 0;
}

.blo-minerio{
    padding: 20px;
    background-color: #8b8b8b;
    border: 4px solid #373737;
    border-top-color: #ffffff55;
    border-left-color: #ffffff55;
    padding: 15px;
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    color: #2b2b2b

}

.titulo-inte{
    font-family: 'Press Start 2P', system-ui;
    color: #ffff55;
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2x 0 #000;
    margin-bottom: 100px;
    margin-top: 200px;
}
.icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 45px 15px;
}
.icone img{
    width: 200px;
    height: 200px;
  
    border-radius: 8px;
    border: 3px solid #373737;
}
.sub {
    font-family: 'system-ui', sans-serif;
    font-size: 17px;
    color: #2b2b2b;
    margin-bottom: 9px;
}
.descricao{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    margin-top: 8px;
    color: #2b2b2b;
    margin-bottom: 15px;
}
.blo-minerio .sub{
    font-size: 45px;
    color: #444;
}

.into-cav{
    
    max-width: 2000px;
    width: 90%;
    margin: 200px auto 60px auto;
    background-color: rgba(55, 41, 41, 0.85);
    border: 4px solid #3c3c3c;
    border-top-color:#8b8b8b;
    border-left-color: #8b8b8b;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.into-cav .titulo{
    font-family: 'Press Start 2P', 'system-ui';
    color: #ffff55;
    font-size: 20px;
}

.into-cav .texto{
    font-family: 'sistem-ui', sans-serif;
    font-size: 20px;
    color:#dfdfdf;
    line-height:1.5;
}


.cabecao{
    
    background-color: #208900;  
    width: 100%;
    height: 100px;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000; /*fica por cima das paradas*/
    display: flex; /*Aprendi hj*/
   
    align-items: center; /*Centraliza de forma vertical?, eu acho, não lembro*/
    flex-wrap: wrap;
    
   

}
/*-------Navegação-------*/
.navg{
    
    display: flex;
    justify-content: space-between; /*espaço entre os negocios*/
    align-items: center; /*Deixa o reflexo alinhado(os itens)*/
    margin-left: 70px; 
    flex-wrap: wrap;
}
/*Lista não ordenada dentro da navegação*/

.menu ul{
    list-style: none; /*Tira as bolinhas da lista*/
    display: flex; /* aprendi hj e esqueci*/
    gap: 100px;
    flex-wrap: wrap;
    
}
/*Lista não ordenada dentro da navegação com link*/
.menu ul li a{

    font-size: 17px;
    font-family: 'Press Start 2P', system-ui;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    margin-top: 80px;

}
/*Lista não ordenada dentro da navegação com link e com efeito no mouse*/
.menu ul li a:hover{
    color: #cdc8c8;
    text-decoration: underline;
    text-underline-offset: 4px;
}
/*Id do link da pagina inicial, para ficar marcadinho a linha*/
#home{
 text-decoration: underline;
 text-underline-offset: 4px; /*perguntei ao mano google, serve para afastar a linha da palavra, estava precisando*/
 
}

.abertura{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*Meu nome como logo da página*/
.logo{
    color:aliceblue;
    display: flex;
    font-size: 40px;
    justify-content: space-between;
    align-items: center;
    margin-right: 300px;
    

}


/*A imagem de fundo - do minecraft*/
.fundo-principal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    
    object-fit: cover;  /*ajuda na hora de mexer na imagem, nao deixando ela distorcer*/
   
    z-index: 5; /*Brincando de camada com esse mano aqui*/

    
}
/*Texto que vai ficar por cima da foto lá*/
.conteudo{
    position: relative;
    z-index: 10; 
    text-align: center; 
    font-family: 'press Start 2P' , 'system-ui'; /*a fonte externa*/
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9); /*Coloca uma especie de sombra, para acompanar a letra, muito legal*/
    transform: translateY(-60px);/*essa paradina mexe as coisas para cima e para baixo, tive que pesquisar esatva me dando dor de cabeça*/
}
.conteudo h1{
 font-size: 35px;
 margin-bottom: 40px;
 color: white;
}
.conteudo h2{
  font-size: 20px;
  color: white;
}

/*Uma gracina para mim ser feliz --- Decoração---*/


















